<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cerita Saya</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../public/css/cert.css">
</head>
<body>
  <section id="hero">
    <div class="hero-content">
      <h1>Welcome</h1>
      <p>halllooo ges aku Alhadi Adriano kalau pakai nama pendek nanti kalian ada yang tau ada yang ngga, oke Scroll kebawah yak biar asighhh</p>
    </div>
  </section>
  
  <div class="wrapper">
    <div class="container">
      <h1>Mau pakai lagu?</h1>
    
      <div class="audio-controls">
        <button id="prevBtn" class="control-button"><i class="fas fa-step-backward"></i></button> <!-- Ikon kembali ke lagu sebelumnya -->
        <button id="playPauseBtn" class="control-button"><i class="fas fa-play"></i></button> <!-- Ikon play/pause -->
        <button id="nextBtn" class="control-button"><i class="fas fa-step-forward"></i></button> <!-- Ikon ganti ke lagu berikutnya -->
      </div>

      <audio id="myAudio" loop>
        <source src="../public/musik/musik.mp3" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>

      <p id="songTitle">Song name : Anonymous</p> <!-- Menampilkan nama lagu -->
    </div>
  </div>

  <section id="tentang">
    <h2>Oke Kanjut eh lanjut maksudnya</h2>
    <p>
      Oke, sebelumnya makasih buat yang udah visit hha maaf ga mood bikin tampilannya, oke lanjut
   </p>
  </section>
  
  <section id="tentang">
    <h2>Lanjut sini</h2>
    <p>
        nah oke, eh bentar lupa, nah oke dah ingat langsung aja nih yak ?.
   </p>
   <p>
   	pakai musik dulu dong biar enak.
   </p>
   <p>
   	oke lanjut, pakai hadi aja yak ? jan aku kamu soalnya kitakan gada hubungan ga lah canda awikawok
   </p>
   <p>
   	oke gas, aku dibatam sudah lumayan lama dari kami berempat sampai kami bertiga, gak ada yang alm tapi umur aku 3 tahun aku di ajak ke Sulawesi
       tempat ayah aku, nah aku gatau ada masalah apa tapi ibukku bilang ga betah jadi pulang ke Batam, umur 6 tahun itu tinggal bertiga aku ibuk sama adek
       terus ibukku cerai dengan ayahku aku dulu masih bodoh ga paham apa maksudnya dan ga terlalu mikirin, hha lanjut aja deh panjang nanti kalian ga sanggup
       nah setelah di Batam aku masuk sekolah MI < madrasah ibtidaiyah > nah di kelas 1 s/d 4 aku baik-baik aja hhe biasa lah anak shaleh sementara,
       di kelas 5 aku buat masalah pertama kali aku buat masalah di Indomaret sama abang' Indomaretnya aku lempar apa gatau lupa aku, terus
       Abang tuh dia masukin aku digudang dia marahi aku diam aja terus kawan aku udah mulai berkaca abang tuh mau telpon polisi Cok terus nangis aku
       ngemis sama abangnya jangan telpon dan padahal yang di telpon guru kami sama ortu, hha setelah itu udah aman tentram, lanjut di MTS < Madrasah Tsanawiyah >
       baru masuk aku bacotin guru gara' dia bek cakap cok aku carut lah sampe panggil ortu lagi, kelas 2 aku diajak kawan aku becewe dah ah skip' kelas 9 aku
       belajar ngoding dan gada masalah, setelah itu masuk kelas 1 SMA 24, aku pendiam asik sama orang yang dekat aja, beberapa bulan sering cabut/bolos
       selama 2/3 bulan intinya semester 2 aku baru tampakkan diri dan masih sering cabut sampe SP III di ancam ga naik kelas, tapi pikiranku bodo amat
       karena disitu aku dah berpenghasilan dulu csku andi/ardi perharinya itu paling kecil 270 Paing gede 1.7jt dalam 1 hari, jadi ya kek ah bomat gtu hha
       dan ga lama ujian, ujian pun aku ga ku kerjain tugas juga da akhirnya tak naik kelas, karena gak naik kelas aku cari kerja itu karena om aku aja 
       dan aku sekalian masuk sekolah Paket C aku kerja Pom, dan kebeli motor, ya pas dapet motor betingkah aku akwoakw biasa lah, aku jadi sering
       main ke bengkong sama temenku, gatau seminggu kedepan aku dapet cewe wkwk gontol nah aku mulai nakal dari sini, idul qurban ntah aku yang salah
       atau ga ada orang jatuh nabrak ban belakang aku, kami nak tanggung jawab awalnya kawan aku bikin bingung terus cabut lah kami ber2 sama Rendi
       di kejar kami sama 5 orang anak' seumuran 1 Orang bapak' ku kebut lah rendi bilang UDAHHHH BERNTI AJA BERNTIIIII pokoknya dia ngotot berhenti
       aku gas terus aku kebut terus ada tikungan aku mau belok eh licin bannya jadinya nabrak trotoar Pluk Rendi langsung bangun gaperduli apapun langsung
       bilang ke aku ayo' cepat'' lariiii, agak error di situ kepalaku akwoaw akhirnya ketangkap karena ban kamu kbuka, tapi kami lepas lagi karena anak' itu
       cuma cari imbalan datang 2 orang temen kami tapi telat kami dah lepas, hha dah lanjut.
       setelah itu aku kenal cewe tuh beberapa bulan ya tiap malming keluar lah jajan, cewekku ga cuma dia ada 1 lagi nah mon maaf nih kan aku niatnya terbuka
       karena aku dah gamau bohong di umur segini lanjut, aku kenal sama cewe yang A duluan terus sama yang B 2 bulan setelah kenal dengan yang A
       aku bukan ga cukup 1 wanita tapi lelah serius sendirian jadi ikutin gimana alur permainan, malming aku sama si A itu jarang 2 minggu sekali
       nah ga lama kok dia agak kek gimana gtu ya aku bomat, ya masih seperti biasa 2 minggu kemudian dia ngajak aku awalnya ga paham bener' polos sama kode
       kode wanita setelah dia bilang ehem nah baru aku paham, awalnya aku takut Cok tapi lama' tuh dia kek maksa anjg aku malah ketularan jadi paham kalian sampe sini ?
       gini penjelasannya intinya aku pernah lakukan yang mungkin kalian belum pernah lakukan, nah terus kalian kalo tanya cewenya kemana ? udah sama cwo baru
       bukan aku mutusin loh ya, mon maaf jujur sejujurnya laki-laki kalo udah kena gitu mau kek gimana pun paras cwenya udah gamau lepas mau percaya apa ga terserah kalian
       tapi mungkin ga semua cewe bagi ku dia coklat manis cantik bagiku jujur jujuran aja nih, tapi mungkin bagi kalian cantik kalian sih sumpah bukan aku jelek'in dia
       tapi karena udah kena aku cantik dia bukan muji ya kontol biar dapat lagi jan pernah mikir gtu disini aku cuma mau terbuka aja, nah sekarang dia udah sama cowo lain
       ya ganteng awak sih sebenanye real Cok ga bohong memang aku paling ganteng lah -_-, haha dia yang lepaskan aku, aku ga berani dong anjg aku cuma mikir kalo hml gmna cok
       aku tak paham walau aku gede gini aku polos anjay, ga lah dah setelah itu udah aku gada apa' lagi tapi anjingnya itu kadang kepikiran lagi ah,BABBI tapi kadang kepikiran dia
       tapi sekarang udah ga, dan setelah itu ya balik kek biasa sendiri lagi hha, gangguin orang kek cewe' di wa nih lah mon maaf yak hha bukan gatel atau caper tapi watakku gitu
       suka gangguin orang kalau aku kenal dan dia enak di ajak ngomong gak gampang baper aku paling suka, suka gangguin ya anjg gausah aneh' pikiran klen, nah terus kalian
       mungkin jarang lihat aku post story sad, lebih kek pamer mungkin alay gtu kan ? yaps itu cuma mainanku/hoby biar lebih apaaa ? yaps bener tapi sekarang terbuka sama kalian
       cukup kalian dan hanya kalian aku minta tolong tak usah sebar luaskan yang tau cukup tau okey ? aku percaya kalian kala kalian tak percaya aku tak apa itu hak kalian, oke lanjut
       aku orangnya siang senang malam suka kayang / ga tenang, kek gimana ya malam tuh kek harus banyak mikir jir gatau pikirannya langsung sad tapi tampaking bahagia aja
       aku orangnya sekali tap langsung serius paham gak ? maksudnya tuh kalo bilang iya ya iya ngga ya ngga gitu jadi kalo main' aku juga bisa main' faham sudah ? oke kalau dah paham
       nah planning sekarang aku nih tak tau tak paham, aku butuh orang yang serius gitu jing ya mungkin karena aku dah cerita gini jadi pada takut, tapi aku sebenarnya butuhnya malam doang
       soalnya malam bnyak pikiran maksudnya malam tuh telpon atau apa gtu ya kont, tapi kadang aku malas juga becewe, sumpah cewe nih betingkah Mon maap buat cewecks ceweks
       mungkin baru kali ini kalian liat aku secrewet ini yak akwoskwosiwoisiw Iyo Iyo layo, yaudah segitu aja dulu ditunggu updatean selanjutnya....
   </p>
  </section>
  
  <footer>
        <p>&copy; 2024 Hadz Design. All rights reserved.</p>
    </footer>
  
  <script>
    const audio = document.getElementById('myAudio');
    const playPauseBtn = document.getElementById('playPauseBtn');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const songTitle = document.getElementById('songTitle');

    // Daftar lagu untuk navigasi
    const songs = [
      "../public/musik/musik.mp3",
      "../public/musik/musik1.mp3",
      "../public/musik/musik2.mp3"
    ];

    let currentSongIndex = 1; // Mulai dari lagu kedua

    // Fungsi untuk memulai atau menghentikan lagu
    function togglePlayPause() {
      if (audio.paused) {
        audio.play();
        playPauseBtn.innerHTML = '<i class="fas fa-pause"></i>'; 
        
      } else {
        audio.pause();
        playPauseBtn.innerHTML = '<i class="fas fa-play"></i>'; // Mengubah ikon menjadi play
      }
    }

    // Fungsi untuk mengganti lagu
    function nextSong() {
      currentSongIndex = (currentSongIndex + 1) % songs.length; // Menghitung lagu berikutnya, kembali ke pertama setelah lagu terakhir
      audio.src = songs[currentSongIndex];
      audio.play();
      songTitle.textContent = "Song Name: " + songs[currentSongIndex].split('/').pop(); // Menampilkan nama lagu
    }

    // Fungsi untuk kembali ke lagu sebelumnya
    function prevSong() {
      currentSongIndex = (currentSongIndex - 1 + songs.length) % songs.length; // Menghitung lagu sebelumnya
      audio.src = songs[currentSongIndex];
      audio.play();
      songTitle.textContent = "Song Name : " + songs[currentSongIndex].split('/').pop(); // Menampilkan nama lagu
    }

    // Event listener untuk play/pause
    playPauseBtn.addEventListener('click', togglePlayPause);

    // Event listener untuk tombol berikutnya
    nextBtn.addEventListener('click', nextSong);

    // Event listener untuk tombol sebelumnya
    prevBtn.addEventListener('click', prevSong);
  </script>
</body>
</html>